
<ul class="collection col s12 m12 l10" *ngFor ="let post of topPosts">
    <li class="collection-item avatar">

        <!-- L 251 post pro image error 
      <img src="http://placehold.it/100" alt="" class="circle" alt="" class="circle">   -->
      <img *ngIf="post.user" src="https://res.cloudinary.com/dxhesnkk0/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}" alt="" class="circle">
      
      <span class="title">{{post.username}}</span>
      <p class="time">{{TimeFromNow(post.created)}}
           <br>
        <!--  <img *ngIf="post.user" src="https://res.cloudinary.com/dxhesnkk0/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}" alt="" class="circle">--> 
      </p>

    </li>
    <div class="row">  
        <div class="col s12">
            <div class="card">
            <!--    <div class="card-image">
                    <img class="postImage" src="https://www.popsci.com/resizer/QgEMm6gNVXFYEFCmonq-Tp9_D7g=/760x506/cloudfront-us-east-1.images.arcpublishing.com/bonnier/3NIEQB3SFVCMNHH6MHZ42FO6PA.jpg">
                </div>   -->
                <div class="card-content">
                    <p>{{post.post}}</p>
                </div>
                <div class="card-action">
                    <i (click)="LikePost(post)" [ngClass]="(!CheckInLikesArray(post.likes, user.username)) ? 'notLiked' : 'liked'" class="material-icons">thumb_up</i>
                    <span class="iconSpan">
                        {{post.totalLikes}}
                    </span>

                    <i class="material-icons" [ngClass]="(!CheckInLikesArray(post.comments, user.username)) ? 'notLiked' : 'liked'" (click)="OpenCommentBox(post)">chat</i>
                    <span class="iconSpan">
                        {{post.comments.length}}
                    </span>
                </div>
            </div>
        </div>
    </div>
  </ul>
            